/*
* Abigail Hamilton
* 11 December 2017
* Endangered Animals: The Sand Kitten
*/


/* Universal Selector */
* {
	margin: 0;
	margin: 0;
}
/* This zeros out the the margins */

header {
	border-bottom: 2px solid black;
}
/* This provides a border below the header*/

img {
	float: right;
	margin: 10px .5em;
}
/* This floats the image to the right and increases the margins */

h1 {
	font-size: 271%;
	font-family: Georgia Header, Georgia, serif; 
	height: 130px;
}
/* This increases the size of the first heading, changes the font, and changes the height it uses
in order to better align it with the image */

h2 {
	font-size: 200%;
	font-family: Georgia Header, Georgia, serif; 
	text-align: center;
}
/* This increases the size of the second headings, changes the font, and centers the text on the page */

.right-heading {
	text-indent: 440px;
}
/* This indents the class specified heading "right-heading" */
	
body { 
	width: 950px;
	margin: auto;
	background-color: #F9E1B9;
}
/* This set the width of the body and the margins, along with the background color */

p {
	text-indent: 40px;
}
/* This indents all of the paragraphs */

.img-bar {
	text-align: center;
}
/* This centered the row of images on the page */

a:link {
	color: black;
	text-decoration: underline;
}
/* This changes the color of the link and underlines it */

a:visited {
	color: black;
	text-decoration: underline;
}
/* This makes the link black and underlined after it is visited */

a:hover, a:focus {
	font-size: 20pt;
	text-decoration: underline, bold;
}
/* This increases the size, underlines, and bolds the link when it is hovered over or focused on */

figure {
	float: left;
	margin: .5em;
	border: thin solid black;
}
/* This floats the figure left, adjusts the margins and adds a thin, solid, black border */

figcaption {
	text-align: center;
}
/* This centers the caption of the figure */

footer {
	border-top: 2px solid black;
	margin: .5em 0;
}
/* This adds a border above the footer and adjusts the margins */

.right-para {
	text-align: right;
}
/* This aligns the class specified "right-para" to the right */
